<br><br>
<br><br>
<body>
<h1 align="left">
    What is Loreum Ipsum?
</h1>
<p align="left">Loreum Ipsum is simply dummy text of the printing and typesetting industry</p>
<div class="col-md-6 mb-4" align="right">

    <form class="input-group">
      <input type="text" class="form-control form-control-sm" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="input-group-append">
        <button mdbBtn color="white" outline="true" size="sm" type="button" mdbWavesEffect>Sign up</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </form>

  </div>
</body>