<br><br>
<h2>What are our services</h2>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

<div class="row">
    <div class="column">
      <div class="card">
        <a routerLink='carts3'>
        <img src="./assets/images/comt3.jpg"  class="img" height="200px" width="200px"> 
        
        <div class="com" ><h3>Loreum Ipsum</h3><br><h4>Loreum Ipsum has been the industry standard dummy text</h4></div>
        </a>
    </div>
    </div>
  
    <div class="column">
      <div class="card">
        <a routerLink='carts3'>
            <img src="./assets/images/cont2-2.jpg"  class="img" height="200px" width="200px"> 
            
            <div class="com" ><h3>Loreum Ipsum</h3><br><h4>Loreum Ipsum has been the industry standard dummy text</h4></div>
        </a>
        </div>
    </div>
    
    <div class="column">
      <div class="card">
        <a routerLink='carts3'>
            <img src="./assets/images/comp4.jpg"  class="img" height="200px" width="200px"> 
            
            <div class="com" ><h3>Loreum Ipsum</h3><br><h4>Loreum Ipsum has been the industry standard dummy text</h4></div>
        </a>
        </div>
    </div>
    
    <div class="column">
      <div class="card">
        <a routerLink='carts3'>
            <img src="./assets/images/comp6-2.png"  class="img" height="200px" width="200px"> 
            <div class="com" ><h3>Loreum Ipsum</h3><br><h4>Loreum Ipsum has been the industry standard dummy text</h4></div>
        </a>
        </div>
    </div>
  </div>
