<h1 align="center">Latest News</h1>
<p align="center">Loreum Ipsum is simply dummy text of the printing and typesetting industry</p>
<div class="row">
    <div class="column">
      <div class="card">
        <a routerLink='carts6'>
        <img src="./assets/images/comp6-1.jpg"  class="img" width="200px" height="200px"> 
        
        <div class="com" ><h3>Loreum Ipsum</h3><br><h4>Loreum Ipsum has been the industry standard dummy text</h4></div>
        </a>
        <button (click)="but()">Read More</button>
    </div>
    </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="column">
      <div class="card">
        <a routerLink='carts6'>
            <img src="./assets/images/comp6-2.png"  class="img" width="200px" height="200px"> 
            
            <div class="com" ><h3>Loreum Ipsum</h3><br><h4>Loreum Ipsum has been the industry standard dummy text</h4></div>
        </a>
        <button (click)="but()">Read More</button>
        
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="column">
      <div class="card">
        <a routerLink='carts6'>
            <img src="./assets/images/comp6-3.png"  class="img" width="200px" height="200px"> 
            
            <div class="com" ><h3>Loreum Ipsum</h3><br><h4>Loreum Ipsum has been the industry standard dummy text</h4></div>
        </a>
        <button (click)="but()">Read More</button>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="column">
      <div class="card">
        <a routerLink='carts6'>
            <img src="./assets/images/comp6-4.png"  class="img" width="200px" height="200px"> 
            <div class="com" ><h3>Loreum Ipsum</h3><br><h4>Loreum Ipsum has been the industry standard dummy text</h4></div>
        </a>
        <button (click)="but()">Read More</button>
        </div>
    </div>
  </div>

